<!-- <h1>jjjjjjjjj</h1> -->

<mat-toolbar color="accent">
    <button mat-icon-button routerLink="/"class="example-icon " aria-label="Example icon-button with menu icon">
      <mat-icon routerLink="/" >menu_book</mat-icon>
    </button>
    <span routerLink="/">Exam Portal</span>

    <span class="example-spacer "></span>


    <button mat-icon-button routerLink="/login" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    Login
    </button>
    <button mat-icon-button routerLink="/signup"class="example-icon favorite-icon mr20 ml20" aria-label="Example icon-button with heart icon">
    Register
    </button>
</mat-toolbar>